USE [master]
GO
/****** Object:  Database [Tests]    Script Date: 13.07.2023 9:18:36 ******/
CREATE DATABASE [Tests]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tests', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tests.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tests_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tests_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tests].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tests]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id_Admin] [int] IDENTITY(1,1) NOT NULL,
	[Login_Admin] [nvarchar](20) NULL,
	[Password_Admin] [nvarchar](100) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id_Group] [int] IDENTITY(1,1) NOT NULL,
	[Code_Group] [nvarchar](50) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id_Question] [int] IDENTITY(1,1) NOT NULL,
	[Test_Id] [int] NULL,
	[Text_Question] [nvarchar](1000) NULL,
	[First_Answer] [nvarchar](500) NULL,
	[Second_Answer] [nvarchar](500) NULL,
	[Third_Answer] [nvarchar](500) NULL,
	[Fourth_Answer] [nvarchar](500) NULL,
	[Correct_Answer] [nvarchar](500) NULL,
 CONSTRAINT [PK_Questins] PRIMARY KEY CLUSTERED 
(
	[Id_Question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id_Result] [int] IDENTITY(1,1) NOT NULL,
	[Test_Id] [int] NULL,
	[User_Id] [int] NULL,
	[Number_Correct_Answers] [nvarchar](13) NULL,
	[Percentage_Correct_Answers] [nvarchar](3) NULL,
	[Test_Start_Time] [datetime] NULL,
	[Time_Spent] [time](7) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Id_Result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testers]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testers](
	[Id_Tester] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name_Tester] [nvarchar](150) NULL,
	[Login_Tester] [nvarchar](20) NULL,
	[Password_Tester] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tester] PRIMARY KEY CLUSTERED 
(
	[Id_Tester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Id_Test] [int] IDENTITY(1,1) NOT NULL,
	[Tester_Id] [int] NULL,
	[Name_Test] [nvarchar](300) NULL,
	[Time_Complete] [int] NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[Id_Test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.07.2023 9:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name_User] [nvarchar](150) NULL,
	[Group_Id] [int] NULL,
	[Login_User] [nvarchar](20) NULL,
	[Password_User] [nvarchar](100) NULL,
 CONSTRAINT [PK_Uzers] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id_Admin], [Login_Admin], [Password_Admin]) VALUES (1, N'Admin', N'E3AFED0047B08059D0FADA10F400C1E5')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([Id_Group], [Code_Group]) VALUES (1, N'09.02.07-181')
INSERT [dbo].[Groups] ([Id_Group], [Code_Group]) VALUES (2, N'09.02.07-182')
INSERT [dbo].[Groups] ([Id_Group], [Code_Group]) VALUES (3, N'09.02.07-183')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id_Question], [Test_Id], [Text_Question], [First_Answer], [Second_Answer], [Third_Answer], [Fourth_Answer], [Correct_Answer]) VALUES (2, 1, N'Как на русский язык переводится конструкция «to be going to do something»?', N'собраться что-либо сделать', N'что-то собирается произойти', N'сделать', N'собираемся что-либо сделать', N'собраться что-либо сделать')
INSERT [dbo].[Questions] ([Id_Question], [Test_Id], [Text_Question], [First_Answer], [Second_Answer], [Third_Answer], [Fourth_Answer], [Correct_Answer]) VALUES (3, 1, N'Какая часть конструкции “to be going to do something” имеет свойство меняться в зависимости от подлежащего?', N'going ', N'do', N'be', N'be going', N'be')
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([Id_Result], [Test_Id], [User_Id], [Number_Correct_Answers], [Percentage_Correct_Answers], [Test_Start_Time], [Time_Spent]) VALUES (1, 1, 1, N'1/14', N'7', CAST(N'2023-07-07T16:56:57.000' AS DateTime), CAST(N'00:00:24' AS Time))
INSERT [dbo].[Results] ([Id_Result], [Test_Id], [User_Id], [Number_Correct_Answers], [Percentage_Correct_Answers], [Test_Start_Time], [Time_Spent]) VALUES (2, 2, 1, N'5/15', N'33', CAST(N'2023-07-07T16:57:28.000' AS DateTime), CAST(N'00:00:22' AS Time))
INSERT [dbo].[Results] ([Id_Result], [Test_Id], [User_Id], [Number_Correct_Answers], [Percentage_Correct_Answers], [Test_Start_Time], [Time_Spent]) VALUES (3, 11, 1, N'10/35', N'28', CAST(N'2023-07-07T16:57:59.000' AS DateTime), CAST(N'00:01:03' AS Time))
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Testers] ON 

INSERT [dbo].[Testers] ([Id_Tester], [Full_Name_Tester], [Login_Tester], [Password_Tester]) VALUES (1, N'Белов Роман Никитич', N'Белов Р.Н.', N'EB339130B0AFE446503EC34C20BAD41A')
INSERT [dbo].[Testers] ([Id_Tester], [Full_Name_Tester], [Login_Tester], [Password_Tester]) VALUES (2, N'Емельянов Георгий Матвеевич', N'Емельянов Г.М.', N'0292E94DA0794BFF6DCF5B779D04FA72')
INSERT [dbo].[Testers] ([Id_Tester], [Full_Name_Tester], [Login_Tester], [Password_Tester]) VALUES (3, N'Абрамов Александр Тимурович', N'Абрамов А.Т.', N'CC7359F71303B639F16BD40E40ADBD00')
SET IDENTITY_INSERT [dbo].[Testers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([Id_Test], [Tester_Id], [Name_Test], [Time_Complete]) VALUES (1, 1, N'Be going to', 1)
INSERT [dbo].[Tests] ([Id_Test], [Tester_Id], [Name_Test], [Time_Complete]) VALUES (2, 1, N'Past Perfect Tense', 0)
INSERT [dbo].[Tests] ([Id_Test], [Tester_Id], [Name_Test], [Time_Complete]) VALUES (3, 1, N'Личные местоимения в английском языке', 10)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_User], [Full_Name_User], [Group_Id], [Login_User], [Password_User]) VALUES (1, N'Лебедев Платон Данилович', 10, N'Лебедев П.Д.', N'CB37DCE2510832F96C4A793A6CB1D9E0')
INSERT [dbo].[Users] ([Id_User], [Full_Name_User], [Group_Id], [Login_User], [Password_User]) VALUES (2, N'Соколов Никита Глебович', 10, N'Соколов Н.Г.', N'329BC7D2DB0C0FFB3A56C8DE9E1426CC')
INSERT [dbo].[Users] ([Id_User], [Full_Name_User], [Group_Id], [Login_User], [Password_User]) VALUES (3, N'Кудряшов Тимофей Тимофеевич', 10, N'Кудряшов Т.Т.', N'CEC8FB102D351EA52FE9EF733B679501')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([Test_Id])
REFERENCES [dbo].[Tests] ([Id_Test])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Tests] FOREIGN KEY([Test_Id])
REFERENCES [dbo].[Tests] ([Id_Test])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Tests]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Users]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Testers] FOREIGN KEY([Tester_Id])
REFERENCES [dbo].[Testers] ([Id_Tester])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Testers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Groups] ([Id_Group])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Groups]
GO
USE [master]
GO
