USE [master]
GO
/****** Object:  Database [Tests]    Script Date: 09.03.2023 21:02:00 ******/
CREATE DATABASE [Tests]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tests', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOMESERVER\MSSQL\DATA\Tests.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tests_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOMESERVER\MSSQL\DATA\Tests_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tests].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tests]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id_Admin] [int] IDENTITY(1,1) NOT NULL,
	[Login_Admin] [nvarchar](20) NULL,
	[Password_Admin] [nvarchar](20) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questins]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questins](
	[Id_Question] [int] IDENTITY(1,1) NOT NULL,
	[Test_Id] [int] NULL,
	[Text_Question] [nvarchar](1000) NULL,
	[First_Answer] [nvarchar](500) NULL,
	[Second_Answer] [nvarchar](500) NULL,
	[Third_Answer] [nvarchar](500) NULL,
	[Fourth_Answer] [nvarchar](500) NULL,
	[Correct_Answer] [nvarchar](500) NULL,
 CONSTRAINT [PK_Questins] PRIMARY KEY CLUSTERED 
(
	[Id_Question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id_Result] [int] IDENTITY(1,1) NOT NULL,
	[Test_Id] [int] NULL,
	[Uzer_Id] [int] NULL,
	[Number_Correct_Answers] [nvarchar](13) NULL,
	[Percentage_Correct_Answers] [nvarchar](3) NULL,
	[Test_Start_Time] [datetime] NULL,
	[Time_Spent] [time](7) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Id_Result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tester]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testers](
	[Id_Tester] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name_Tester] [nvarchar](150) NULL,
	[Login_Tester] [nvarchar](20) NULL,
	[Password_Tester] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tester] PRIMARY KEY CLUSTERED 
(
	[Id_Tester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Id_Test] [int] IDENTITY(1,1) NOT NULL,
	[Tester_Id] [int] NULL,
	[Name_Test] [nvarchar](300) NULL,
	[Time_Complete] [int] NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[Id_Test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzers]    Script Date: 09.03.2023 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name_User] [nvarchar](150) NULL,
	[Group_Id] [int] NULL,
	[Login_User] [nvarchar](20) NULL,
	[Password_User] [nvarchar](100) NULL,
 CONSTRAINT [PK_Uzers] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
